.card-bod{
    background: red;
}

.card-hed{
    background: blue;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.form-group{
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;

}